const withBundleAnalyzer = require('@next/bundle-analyzer')({
  enabled: process.env.ANALYZE === 'true',
});


module.exports = withBundleAnalyzer(
    webpack(config) {
    // Optimize chunk splitting
    config.optimization.splitChunks = {
      chunks: 'all',
      maxSize: 2400000, // This limits each chunk to 2.5 MB, adjust as needed
    };
    
    return config;
});

